{% extends "base.html" %}

{% block body %}
        <h3>
            Red dead redemption 1&2
        </h3> 
        <p>
            <a href="/rdr1&2info">
            <img src="../static/image/rdr1&2.jpg" width="240" height="120">
            </a>
        </p>
        <h3>
            Grand Theft Auto Series
        </h3>  
        <p>
            <a href="/gtainfo">
            <img src="../static/image/gta.jpg" width="240" height="120">
            </a>
        </p> 
        <h3>
            Bully 
        </h3>  
        <p>
            <a href="/bullyinfo">
            <img src="../static/image/bully.jpg" width="120" height="120">
            </a>
        </p>       
        <p>
            <a href="/home">back to home</a>
        </p>         

{% endblock %}

