{% extends "base.html" %}

{% block body %}

<p>
    <a target="_blank" href="http://www.thebreezepaper.com/arts-entertainment-2/2021/5/11/grand-theft-auto-a-recap-of-the-series"> Grand Theft Auto series Recap</a>
</p>
<p>
    GTA 2 was the first game was the first one among the whole genre that I played as a kid.<br> I couldn’t believe until then that you could have this much freedom and control in a game, and the experience was second to none …
</p>
<p>
    <a href="/gamesinfo">back to games page</a>
</p>          

{% endblock %}