{% extends "base.html" %}

{% block body %}
        <h2>            
            Cooking <br>
        </h2>
            <h4>
            I Love food and as a part of it I love cooking food.<br>
            My prized cooking dish is Chenjeh Kabab.<br>
            Not as fancy as the one you see in picture below , but as delicious 😉     
            </h4>                   
        <p>
            <img src="../static/image/food.jfif" width="240" height="120">
        </p>

        <h2>            
            Walking <br>
        </h2>
        <h2>            
            Reading <br>
        </h2>
        <h4>
            I Love reading fictional novels.<br>
            </h4> 
        <p>
            <a href="/home">back to home</a>
        </p>         

{% endblock %}