{% extends "base.html" %}

{% block body %}

<p>
    <a target="_blank" href="https://www.gamesradar.com/red-dead-redemption-story/"> Red Dead Redemption 1 Story Recap</a>
</p>
<p>
    <a target="_blank" href="https://twinfinite.net/2018/10/red-dead-redemption-2-story-summary/"> Red Dead Redemption 2 Story Recap</a>
</p>
<p>
    The reasons I am fascinated by these two games are, my love for the western genre, I grew up watching tons of western movies.<br> I`m a huge Clint Eastwood fan and these games enabled me to somehow experience that environment with a beautiful design and fantastic gameplay.
</p>
<p>
    <a href="/gamesinfo">back to games page</a>
</p>          

{% endblock %}